EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_MARKETPLACE_INSIGHTS_ENABLED=0
EBAY_MARKETPLACE_ID=EBAY_US
EBAY_USE_SANDBOX=0
EBAY_API_HOST=api.ebay.com
CATALOG_PRICE_DEBUG=0
CATALOG_PRICE_REFRESH_ON_START=1
CATALOG_PRICE_REFRESH_STARTUP_HOURS=168
CATALOG_PRICE_REFRESH_LIMIT=25
CATALOG_PRICE_TTL_HOURS=24
